// Color Variables 
$blue: #1665D8;
$darkblue: #3F51B5;
$darkerblue: #3c4a97;
$green: #26A69A;
$lightergrey: #CDD1EA;
$bordergrey: #E4E7EB;
$lightgrey: #9EA0A5;
$grey: #66788A;
$red: #ff0000 !global;
$white: #fff;
$smokedwhite: #F9FAFB;
$blackblue: #425A70;
$lightblack: #3A3B3F;
$black: #212529;

